<h1>Settings</h1>

<%= form_tag('/settings', :method => :put) do %>
  <div class="field">
    <%= label_tag "settings[site_name]", "Name of site" %><br .>
    <%= text_field_tag "settings[site_name]", Setting.site_name %>
  </div>
  <div class="field">
    <%= label_tag "settings[index]", "Festival to show on front page" %><br />
    <%= select_tag "settings[index]", options_from_collection_for_select(Festival.all, :id, :name, Setting.index) %>
  </div>
  <div class="field">
    <%= label_tag "settings[no_security]", "Disable all user security checks" %><br />
    <%= select_tag "settings[no_security]", options_for_select(["true", "false"], Setting.no_security) %>
  </div>
  <div class="field">
    <%= label_tag "settings[logo_url]", "URL for logo" %><br .>
    <%= text_field_tag "settings[logo_url]", Setting.logo_url %>
  </div>
  <div class="field">
    <%= label_tag "settings[logo_enable]", "Enable logo" %><br />
    <%= select_tag "settings[logo_enable]", options_for_select(["true", "false"], Setting.logo_enable) %>
  </div>
  <div class="actions">
    <%= submit_tag 'Save Settings' %>
  </div>
<% end %>
