<%= form_for @rating do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %>
        prohibited this rating from being saved:</h2>
      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :band_id, :value => @band.id %>
  </div>
  <div class="field">
    <%= f.select :rating, (1..5).to_a.reverse, {}, {:class => "input-small"} %>
  </div>
  <div class="action">
    <%= f.submit @rating.new_record? ? "Create Rating" : "Update Rating", :class => "btn" %>
  </div>
<% end %>
<%  if !@rating.new_record? %>
  <%= button_to "Delete Rating", @rating, :method => :delete, :class => "btn" %>
<% end %>
