<h1><%= @band.name %></h1>
<div class="row-fluid">
  <div class="span8">
    <% if current_user && current_user.is_reviewer? %>
      <div class="btn-group">
        <%= button_to "Edit Band", edit_band_path(@band), :method => :get, :class => "btn" %>
        <%= button_to "Delete Band", band_path(@band), :method => :delete, :class => "btn", :confirm => "Are you sure?" %>
      </div>
    <% end %>
    <p><strong>Location:</strong> <%= @band.location %></p>
    <p><strong>Website:</strong> <%= link_to @band.url, @band.url, :target => "_blank" %></p>
    <p><%= @band.description %></p>
    <p><strong>Average rating:</strong> <%= number_with_precision(@band.average_rating, :precision => 2) %></p>
    <p><strong>Popularity:</strong> <%= number_with_precision(@band.popularity, :precision => 2) %></p>
  </div>
  <% if current_user %>
    <div class="span3">
      <div class="well">
        <strong>Your Rating</strong>
        <%= render :partial => 'ratings/form' %>
      </div>
      <div class="well">
        <strong>Add to Festival Lineup</strong>
        <%= render :partial => 'lineup' %>
      </div>
    </div>
  <% end %>
  <div class="span1">
  </div>
</div>
<h4>Ratings</h4>
<%= render :partial => 'ratings/list', :locals => {:hide_band => true} %>
<br />
<h4>Festivals</h4>
<%= render :partial => 'festivals/list', :locals => {:hide_band => true} %>
