<h1><%= @band.name %></h1>
<p><%= link_to "Edit Band", edit_band_path(@band) %>
<p><%= @band.location %></p>
<p><%= link_to @band.url, @band.url, :target => "_blank" %></p>
<p><%= @band.description %></p>
<p>Average rating: <%= number_with_precision(@band.average_rating, :precision => 2) %></p>
<% if current_user %>
  <h2>Your Rating</h2>
  <%= render :partial => 'ratings/form' %>
  <h2>Add to Festival Lineup</h2>
  <%= render :partial => 'lineup' %>
<% end %>
<h2>Ratings</h2>
<%= render :partial => 'ratings/list', :locals => {:hide_band => true} %>
<br />
<h2>Festivals</h2>
<%= render :partial => 'festivals/list', :locals => {:hide_band => true} %>
