<%= form_for @post do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :festival %><br />
    <%= f.select:festival_id, options_from_collection_for_select(Festival.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
