<!DOCTYPE html>
<html>
<head>
  <title>Band Rater</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div id="navigation">
      <%= link_to "Band Rater", root_url, :id => "logo" %>
    </div>
    <div id="login">
      <ul>
      <% if user = current_user %>
        <li>Logged in as: <%= link_to user.name, user %></li>
        <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
        <li><%= link_to "Logout", :logout %></li>
      <% else %>
        <li><%= link_to "Login", :login %></li>
        <li><%= link_to "Sign up", new_user_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <div id="main">
    <div id="content">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <div id="sidebar">
    <h3><%= link_to "Featured", posts_path %></h3>
    <h3><%= link_to "Festivals", festivals_path %></h3>
    <ul>
      <% if (Festival.count == 0) %>
        <li>
          <%= link_to "Add some festivals!", new_festival_path %>
        </li>
      <% else %>
        <% Festival.find(:all).each do |festival| %>
          <li>
            <%= link_to festival.name, festival %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <h3><%= link_to "Bands", bands_path %></h3>
    <h3><%= link_to "Ratings", ratings_path %></h3>
    <h3><%= link_to "Users", users_path %></h3>
  </div>
  <div id="footer" />
</body>
</html>
