<!DOCTYPE html>
<html>
<head>
  <title>BandRater</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="login">
    <ul>
    <% if user = current_user %>
      <li>Logged in as: <%= link_to user.email, user %></li>
      <li><%= link_to "Logout", :logout %></li>
    <% else %>
      <li><%= link_to "Login", :login %></li>
    <% end %>
    </ul>
  </div>
  <div id="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
